[Desktop Entry]
Name=Windows-Terminalserver
Categories=Network;
GenericName=
Comment=
Exec=/usr/local/bin/startfreerdp.sh
Type=Application
Icon=/usr/share/icons/xfreerdp.png
Terminal=false
